*{
    background-color: aliceblue;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    align-items: center;
    background-color: dimgray;

}
span{
    color: blueviolet;
    font-weight: bold;
}

p{
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 25px;
    margin-left: 25px;


}

div{
    height: 600px;
    width: 800px;

}

img{
    width: 450px;
    margin-left: 25px;
    background-color: blue;
    padding-top: 50px;
}